figure {
  width: 100%;
  background: #aaa;
  border: 2px solid #999;
  overflow: hidden;
}
.flextest {
  display: inline-flex;
  flex-direction:row ;
  flex-wrap: wrap;
}
figure img {
  width: 100%;
  height: 100%;
  background: #eee;
  margin-bottom: -4em;
}